
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Nunito&display=swap');



*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: bisque;
    transition: transform 0.3s ease-in;
    font-family: 'Nunito', sans-serif;
    height: 150vh;
    position: absolute;
}
.sidebar nav{
    padding: 45px;

}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0; 

}
.sidebar nav li a{
     text-decoration: none;
     color: black;
}

.main{
   
    width: 90vw;
}

.container{
    display: flex;
}
.infoContainer{
   
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
   
}

.hello{
    font-size: 3em;
    
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Ysabeau', sans-serif;

}
.about{
    font-size: 2.5em;
}

.moreabout{
    font-size: 2em;
    font-family: 'Orbit', sans-serif;
    margin-top: 23px;
}
.buttons{
    margin-top: 2.2em;
    font-size: 16px;
}
.btn{
    padding: 9px;
    border-radius: 22px;
    color: honeydew;
    background-color: rgb(46, 43, 138);
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: honeydew;
    color: rgb(46, 43, 138);
}

.btn-sm{
    font-size: 10px;
    padding: 10px 19px;
    margin: 12px 0;
}

.devPic img{
    height: 58vh;
}

.contactform{
    font-family: 'Nunito', sans-serif;
    padding: 0 34px;
    margin: 88px;
}

.contactform h1{
    font-family: 'Orbit', sans-serif;
    
   /* padding: 12px 0; */
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column; 
   
}

.contactform form div input{
    padding: 3px;
   /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
}

#emailHelp{
    font-size: 11px;
    color: rgb(19, 19, 83);
    margin: 0 5px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

h1{
    font-family: 'Nunito', sans-serif;
    margin: 23px;
}

p{
    font-family: 'Orbit', sans-serif;
}

.intro{
    margin: 20px 88px;
}

.intro h2{
    font-family: 'Orbit', sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Orbit', sans-serif;
    margin: 12px;
}

.skillcontainer{
    padding: 12px;
   
}

.skillitem{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;

}

.skill{
    width: 265px;
    height: 5px;
    background-color: rgb(51, 31, 118);
}


.t5{
    width: 265px;
    height: 5px;
    background-color: rgb(51, 31, 118);
}


.t6{
    width: 222px;
    height: 5px;
    background-color: rgb(51, 31, 118);
}

.t7{
    width: 230px;
    height: 5px;
    background-color: rgb(51, 31, 118);
}
.t8{
    width: 255px;
    height: 5px;
    background-color: rgb(51, 31, 118);
}
.t9{
    width: 230px;
    height: 5px;
    background-color: rgb(51, 31, 118);
}
.t1{
    width: 190px;
    height: 5px;
    background-color: rgb(51, 31, 118);
}

.link a{
    text-decoration: none;
}

.link1 a{
    text-decoration: none;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;

}

.ham{
    margin-top: 10px;
    
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
} 
.cross{
    margin-left: 160px;
    margin-top: 8px;
}


@media (max-width: 1535px) {
   /* .sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    } */
.buttons{
    font-size: 10px;
}
.devPic{
    display: none;
}
.intro, .contactform{
    margin: 50px 8px;
}
.devInfo{
    font-size: 10px;
}
}
